<%- include('../includes/header')%>

<div class="container">
  <form action="/admin/create-service" method="POST">
    <div class="form-group">
      <label for="title">Наименование услуги</label>
      <input class="form-control" type="text" name="title" id="title" />
    </div>
    <div class="form-group">
      <label for="employee">Сотрудник, ведущий прием</label>
      <select class="form-control" id="employee" name="employee">
        <option selected>Выберите сотрудника</option>
        <% service.forEach(function(item) {%>
        <option value="<%= item._id %>"><%= item.employee %></option>
        <% })%>
      </select>
    </div>
    <div class="form-group">
      <label for="service-time">Время оказания услуги, мин</label>
      <input class="form-control col-sm-1" type="text" name="time" id="time" />
    </div>
  
    <div class="form-group">
      <button type="submit" class="btn btn-success" style="float:right;">Сохранить</button>
    </div>
  </form>
</div>

<%- include('../includes/footer')%>