<%- include('../includes/header')%>
<div class="container">
  <h4>Ваше расписание приема на сегодня. Хорошего дня :)</h4>
  <p>Сегодня: 17 июня 2020 года</p>
  <table class="table table-hover">
    <thead class="thead-light">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Услуга</th>
        <th scope="col">Время приема</th>
        <th scope="col">Статус</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Прием документов по программе переселения</td>
        <td>14:30</td>
        <td>
          <select class="custom-select">
            <option selected>Выберите статус заявления...</option>
            <option>Отработано</option>
            <option>Отказ</option>
            <option>Заявитель не явился</option>
          </select>
        </td>
        <td>
          <button type="button" class="btn btn-secondary">Сохранить</button>
        </td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Прием документов по программе переселения</td>
        <td>15:00</td>
        <td>
          <select class="custom-select">
            <option selected>Выберите статус заявления...</option>
            <option>Отработано</option>
            <option>Отказ</option>
            <option>Заявитель не явился</option>
          </select>
        </td>
        <td>
          <button type="button" class="btn btn-secondary">Сохранить</button>
        </td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Прием документов по программе переселения</td>
        <td>15:30</td>
        <td>
          <select class="custom-select">
            <option selected>Выберите статус заявления...</option>
            <option>Отработано</option>
            <option>Отказ</option>
            <option>Заявитель не явился</option>
          </select>
        </td>
        <td>
          <button type="button" class="btn btn-secondary">Сохранить</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<%- include('../includes/footer')%>
