<%- include('../public/page-header') %>
<div class="container">
  <div class="description">
    <div class="description-weekend">
      <p>- Неприемные дни</p>
    </div>
    <div class="description-busy">
      <p>- Нет свободного времени для записи</p>
    </div>
    <div class="description-free">
      <p>- Есть свободное время для приема</p>
    </div>

  </div>
  <div class="calendar">
    <div class="calendar-header">
      <div class="calendar-header-item">Пн</div>
      <div class="calendar-header-item">Вт</div>
      <div class="calendar-header-item">Ср</div>
      <div class="calendar-header-item">Чт</div>
      <div class="calendar-header-item">Пт</div>
      <div class="calendar-header-item">Сб</div>
      <div class="calendar-header-item">Вс</div>

    </div>
    <div class="calendar-body">





    </div>
  </div>
</div>

<script src="/scripts/calendar.js"></script>

<%- include('../public/page-footer') %>