<%- include('includes/header')%>

<!-- Error Page -->
<div id="notfound">
  <div class="notfound">
    <div class="notfound-404">
      <h1>404</h1>
    </div>
    <h2>Упппсс, что то пошло не так!!</h2>
    <p>Страница к которой Вы обратились возможно была удалена или временно недоступна</p>
    <a href="/">Вернуться на главную</a>
  </div>
</div>
<!-- Error Page -->

<%- include('includes/footer')%>