<%- include("./page-header")%>
<div class="container">
  <h4>Выберите интересующую Вас услугу</h4>

  <div class="services">
    <% services.forEach((item) => {%>
    <a href="/calendar/<%= item._id%>/service">
      <div class="service-item">
        <%= item.title%>
      </div>
    </a>
    <% })%>


  </div>
</div>
<%- include("./page-footer")%>